$primary: hsl(200, 100%, 80%);
$primary-darker: hsl(200, 100%, 30%);

$link: $primary;
$link-hover: $primary-darker;

$text: hsl(200, 40%, 80%);
$title-color: hsl(0, 0%, 95%);
$subtitle-color: hsl(0, 0%, 90%);

$body-background-color: hsl(0, 0%, 10%);

@import "../node_modules/bulma/bulma.sass";


[name=skill-tiles] .is-child .title {
	margin-top: 2em;
}

[name=skill-tiles] .is-ancestor > .is-vertical > .tile {
	margin-bottom: 1.5em;
	padding-top: 0;
	padding-bottom: 0;
}

// [name=skill-tiles] .is-child > i {
// 	color: $light-blue;
// }

.tile-sep {
	min-height: 1.5em;
}