$primary: hsl(200, 70%, 85%);
$primary-darker: hsl(200, 100%, 30%);
$primary-invert: $primary-darker;

$link: hsl(200, 88%, 67%);
$link-hover: $primary-darker;

$text: hsl(200, 40%, 80%);
$title-color: hsl(0, 0%, 95%);
$subtitle-color: hsl(0, 0%, 90%);

$body-background-color: hsl(0, 0%, 10%);

@import "../node_modules/bulma/bulma.sass";

[name=back-to-top] {
	position: fixed;
	bottom: 2em;
	right: 2em;
	z-index: 100;
}

p:not(:last-child) {
	padding-bottom: 1em;
}

.is-underlined {
	text-decoration: underline;
}

[name=skill-tiles] .is-child .title {
	margin-top: 2em;
}

[name=skill-tiles] .is-ancestor > .is-vertical > .tile {
	margin-bottom: 1.5em;
	padding-top: 0;
	padding-bottom: 0;
}

.tile-sep {
	min-height: 1.5em;
}