$primary: hsl(200, 100%, 50%);
$primary-darker: hsl(200, 100%, 30%);

$link: $primary;
$link-hover: $primary-darker;

$text: hsl(0, 0%, 80%);
$title-color: hsl(0, 0%, 95%);
$subtitle-color: hsl(0, 0%, 90%);

$body-background-color: hsl(0, 0%, 10%);

@import "../node_modules/bulma/bulma.sass";
